*.exe
*.bmp
*.png
*.wav
*.mp3

#visual studio gitignore
*.db
*.db-shm
*.db-wal
*.vsidx
*.wsuo
*.opendb
DocumentLayout.json
ProjectSettings.json
slnx.sqlite
VSWorkspaceState.json
*.sqlite-journal
*.sln
*.suo
*.ipch
DocumentLayout.backup.json
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.idb
*.pdb


#files to ignore
main.cpp